*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background: #262626;
}

.container{
    width: 40%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background: #333;
    box-shadow: 0 20px 60px rgb(0, 0, 0, 0.5);
    border-radius: 10px;
}

.container h1{
    padding: 0;
    margin: 0;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.progress-bar{
    width: 100%;
    margin: 20px 0;
}

.progress-bar p{
  color: #fff;
  text-transform: uppercase;
  margin: 0 0 10px;
  padding: 0;
  font-weight: bold;
  letter-spacing: 2px;
}

.progress-bar p:nth-child(2){
    float: right;
    top: -30px;
    position: relative;
}

.percentage{
    background: #262626;
    padding: 4px;
    border: 1px solid #0fffb7;
}

.level{
    background: #0fffb7;
    width: 100%;
    height: 10px;
    border-radius: 6px;
}