*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: sans-serif;
  background-color: #333333;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
}

.title{
  font-size: 30px;
  color: white;
  text-align: center;
}

.inside {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.underline{
  height: 2px;
  background-color: white;
  width: 50px;
  position: absolute;
  margin-top: 5px;
}

.mainContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.paysContainer{
  width: 600px;
}